{% extends 'egygoldapp/base.html' %}
{% load static %}
{% block content%}
<div id="header">
    <div class="row">
      <div class="col-8">
        <h1 style="font-size: 18px;color: #E5B53A;">اسعار الذهب اليوم .. نظرة على اسعار الذهب اليوم في مصر والدول العربية</h1>
        <p><strong>اسعار الذهب اليوم ..</strong>اسعار الذهب اليوم هي خدمة مجانية تحرص منصتنا على تقديمها للزائرين ليكونوا<b> 
          مطلعين باستمرار ولحظيا على سعر الذهب اليوم في مصر وفي أغلب الدول العربية,
          بناء على اسعار السوق العالمي، لذلك نقوم هنا بتحديث اسعار الذهب بشكل دوري على مدار الساعة,
          ونهتم بتقديم تغطية لأهم الأخبار الاقتصادية المتعلقة
            بالذهب في كافة الدول,
            ويمكنكم متابعة سعر جرام الذهب بعياراته المتعددة أيضا.</b></p>
        <p style="font-family: tahoma; font-size: 12px; font-weight: normal; margin-bottom: 5px;">
          <a href="" title ="الصفحة الرئيسية لموقع ايجي جولد">{{titles}}</a></p>
          <p style="color: crimson; font-size: 22px;margin-top: 10px;font-weight: bold;">{{post}}</p>

      </div>
      <div align='center' class="col-4">
        <img src="{% static 'images/gold_logo.png'%}" alt="" width="220px" height="150px">
      </div>
    </div>  
</div>
<div  class="container">
    <div id="google_center_div" class="mb-2">
        <div align="center" >
            <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
            <!-- Homepage Leaderboard -->
            <ins class="adsbygoogle"
            style="display:inline-block;width:728px;height:90px"
            data-ad-client="ca-pub-1234567890123456"
            data-ad-slot="1234567890"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-8 articl_text"> 
          <h1 style="color: #232323;font-size: 20px; font-weight: bold; margin-top: 6px;"> 
            <img src="{% static 'images/gold_logo.png' %}" alt="icone" class="logo">
              اسعار الذهب اليوم في {{name}} 
            <span>{{hour}}  {{date}} </span> (محدث مباشر) 
          </h1>
          <div class="artc_img mt-3">
            <img id="artc_img" src="{{link}}"  alt="">
            <p style="color: #639ddf;">خاص ايجي جولد - {{date1}} - {{hour}}</p>
          </div>
          <p style="color: crimson; font-size: 22px;font-weight: bold;">{{post}}</p>
          <p>
            اسعار الذهب اليوم في {{name}}  <span> {{date1}} </span>  (محدث مباشر)
            يقدم موقع "ايجي جولد دوت لايف" خدمة حصرية لزواره من {{name}} وخارجها على مدار الساعة عن اسعار الذهب اليوم وفقا لأخر التحديثات أولا بأول. ونبرز اسعار الذهب اليوم الموافق (<span> {{date1}} </span> 
            ) طبقا لتحديثات الأسعار بشكل مباشر ما بين ارتفاع وانخفاض. <br>
            <h2>اسعار الذهب اليوم</h2>
            ونستعرض في السطور التالية قائمة تشمل اسعار الذهب اليوم في {{name}} في محلات الصاغة بدون مصنعية، وهي كالتالي: <br>
            سعر الذهب اليوم عيار 24، الأعلى فئة في أعيرة الذهب بالأسواق، سجل حوالي {{posts}}. <br>

            سعر الذهب اليوم عيار 21، الذي يعتبر الأشهر تداولا في سوق الذهب، سجل حوالي {{posts2}}. <br>

            سعر الذهب اليوم عيار 18، وهو العيار الأوسط بين أعيرة الذهب، سجل حوالي 
            {{posts3}}. <br>

            سعر الذهب اليوم عيار 14 سجل حوالي {{posts4}}. <br>

            سعر الذهب اليوم عيار 12، وهو المعيار الأدنى فئة، سجل حوالي {{posts5}} .<br>

            سعر الجنيه الذهب اليوم سجل حوالي {{posts7}}.<br>

            سعر كيلو الذهب اليوم سجل نحو {{posts8}} .<br>
            <div class="row">
              <div class="col">
                <div id="google_image_div_fin">
                  <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
                      <!-- Homepage Leaderboard -->
                      <ins class="adsbygoogle"
                      style="display:inline-block;width:300px;height:250px"
                      data-ad-client="ca-pub-1234567890123456"
                      data-ad-slot="1234567890"></ins>
                      <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
              <div class="col">
                <div id="google_image_div_fin">
                  <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
                      <!-- Homepage Leaderboard -->
                      <ins class="adsbygoogle"
                      style="display:inline-block;width:300px;height:250px"
                      data-ad-client="ca-pub-1234567890123456"
                      data-ad-slot="1234567890"></ins>
                      <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            
            <br><h2>كم سعر الذهب اليوم</h2> 
            يجب هنا معرفة أن اسعار الذهب قد
             تختلف من محل صاغة لآخر، ومن ثم في حالة اتخاذ قرار الشراء،
             فيجب مراجعة السعر في الأسواق مع أصحاب محلات الصاغة مباشرة،
             إذ يكون هناك تفاوتا في اسعار الذهب من يوم لآخر،
             وهو ما يجب معرفته والتعامل على أساسه. <br>
            <br> <h2>سعر الذهب</h2> 
             ويختلف سعر الذهب في {{name}} بالمصنعية، من محل صاغة إلى آخر،
              ووفقا لما هو متداول، فإن متوسط سعر المصنعية
              والدمغة في محلات الصاغة يتراوح بين 30 و65 {{currency}} على حسب نوع عيار الذهب،
               وعلى حسب محلات الصاغة،
               ومن محافظة إلى أخرى
               ومن تاجر إلى آخر أيضا. 
               <br>
               
               وتمثل المصنعية في الغالب نسبة تتراوح ما بين 7% و10% من سعر جرام الذهب، وكلما
                زادت نسبة المعادن الموجودة قلَّ القيراط، وتستخدم الأوقية التي يقدر وزنها
                بـ "31.1 جرام" كوحدة لوزن الحلي وسبائك الذهب. <br>
                <div class="row">
                  <div class="col">
                    <div id="google_image_div_fin">
                      <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
                          <!-- Homepage Leaderboard -->
                          <ins class="adsbygoogle"
                          style="display:inline-block;width:300px;height:250px"
                          data-ad-client="ca-pub-1234567890123456"
                          data-ad-slot="1234567890"></ins>
                          <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                      </script>
                    </div>
                  </div>
                  <div class="col">
                    <div id="google_image_div_fin">
                      <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
                          <!-- Homepage Leaderboard -->
                          <ins class="adsbygoogle"
                          style="display:inline-block;width:300px;height:250px"
                          data-ad-client="ca-pub-1234567890123456"
                          data-ad-slot="1234567890"></ins>
                          <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                      </script>
                    </div>
                  </div>
                </div>
                <br> <h2>اسعار الذهب</h2> 
                وتعد اسعار الذهب اليوم في {{name}} معلومة مهمة من الناحية الاقتصادية، لاسيما بالنسبة للأشخاص
                 المقبلين على الزواج أو المهتمين بالتجديد لمواكبة أحدث الصيحات،
                 بالإضافة طبعا للمستثمرين، نظرا للصلة التي تربط الذهب بالاقتصاد العالمي، وذلك 
                بالأخص في الأوقات التي تمر بها اقتصاديات كثير من الدول بحالة من عدم الاستقرار، 
                حتى صار الذهب بمثابة الملاذ الآمن للكثيرين، سواء في {{name}} 
                أو بباقي الدول العربية. 
                <br>
                <br>
                وكان متوسط سعر الذهب في الأيام السابقة في {{name}} بعملة {{currency}} وفقا للجدول التالي: 


          </p>
          <div id="google_center_div" class="mb-2">
            <div align="center" >
                <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
                <!-- Homepage Leaderboard -->
                <ins class="adsbygoogle"
                style="display:inline-block;width:728px;height:90px"
                data-ad-client="ca-pub-1234567890123456"
                data-ad-slot="1234567890"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
          </div>
          <div class="m-4">
            <h4 class="h4-table-2"><img src="{% static 'images/gold_logo.png' %}" alt="icone" class="logo"> متوسط سعر الذهب فى الأيام السابقة فى {{name}} بعملة {{currency}} :</h4>
            <table class="blueTable" style="max-height: 100%; height: 85%;">
              <thead>
                <tr>
                  <th >اليوم</th>
                  <th>عيار 24</th>
                  <th>عيار 21</th>
                  <th>عيار 18</th>
                  <th>عيار 14</th>
                  <th>عيار 12</th>
                </tr>
              </thead>
              
              <tbody>
                {% for post in posts10 %}
                <tr>
                  <th>{{post.th}}</th>
                  <td>{{post.td}}</td>
                  <td>{{post.td1}}</td>
                  <td>{{post.td2}}</td>
                  <td>{{post.td3}}</td>
                  <td>{{post.td4}}</td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
            <p style="color: crimson; font-size: 22px;font-weight: bold;">{{post}}</p>
          </div>
          <div id="google_center_div" class="mb-2">
            <div align="center" >
                <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
                <!-- Homepage Leaderboard -->
                <ins class="adsbygoogle"
                style="display:inline-block;width:400px;height:240px"
                data-ad-client="ca-pub-1234567890123456"
                data-ad-slot="1234567890"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
      </div>
        <div class="col">
         <div class="box">
           <h2><a href="{% url 'home' %}">اسعار الذهب اليوم في الدول العربية</a></h2>
           <ul>
             <li><span>1</span><a href="{% url 'home' %}" title="سعر الذهب اليوم فى مصر بالجنيه المصري">اسعار الذهب اليوم فى مصر</a></li>
             <li><span>2</span><a href="{% url 'saudi' %}" title="سعر الذهب اليوم فى مصر بالريال السعودي">اسعار الذهب اليوم فى السعودية</a></li>
             <li><span>3</span><a href="{% url 'kuwait' %}" title="سعر الذهب اليوم فى مصر بالدينار الكويتي">اسعار الذهب اليوم فى الكويت</a></li>
             <li><span>4</span><a href="{% url 'UAE' %}" title="سعر الذهب اليوم فى مصر بالدرهم الإماراتي">اسعار الذهب اليوم فى الإمارات</a></li>
             <li><span>5</span><a href="{% url 'qatar' %}" title="سعر الذهب اليوم فى مصر بالريال القطري">اسعار الذهب اليوم فى قطر</a></li>
             <li><span>6</span><a href="{% url 'Jordan' %}" title="سعر الذهب اليوم فى مصر بالدينار الأردني">اسعار الذهب اليوم فى الأردن</a></li>
             <li><span>7</span><a href="{% url 'bahrain' %}" title="سعر الذهب اليوم فى مصر بالدينار البحريني">اسعار الذهب اليوم فى البحرين</a></li>
             <li><span>8</span><a href="{% url 'Oman' %}" title="سعر الذهب اليوم فى مصر بالريال العماني">اسعار الذهب اليوم فى عمان</a></li>
             <li><span>9</span><a href="{% url 'Palestine' %}" title="سعر الذهب اليوم فى مصر بالشيكل الفلسطيني">اسعار الذهب اليوم فى فلسطين</a></li>
             <li><span>10</span><a href="{% url 'Iraq' %}" title="سعر الذهب اليوم فى مصر بالدينار العراقي">اسعار الذهب اليوم فى العراق</a></li>
             <li><span>11</span><a href="{% url 'Lebanon' %}" title="سعر الذهب اليوم فى مصر بالليرة اللبناني">اسعار الذهب اليوم فى لبنان</a></li>
             <li><span>12</span><a href="{% url 'algeria' %}" title="سعر الذهب اليوم فى مصر بالدينار الجزائري">اسعار الذهب اليوم فى الجزائر</a></li>
             <li><span>13</span><a href="{% url 'morocco' %}" title="سعر الذهب اليوم فى مصر بالدرهم المغربي">اسعار الذهب اليوم فى المغرب</a></li>

           </ul>
         </div>
         <div class="w-100"></div>
         <div class="box mt-2">
          <div  align="center" id="google_image_div_fin">
            <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
                <!-- Homepage Leaderboard -->
                <ins class="adsbygoogle"
                style="display:inline-block;width:300px;height:250px"
                data-ad-client="ca-pub-1234567890123456"
                data-ad-slot="1234567890"></ins>
                <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
          <div class="w-100"></div>
          <div  align="center" id="google_image_div_fin">
            <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
                <!-- Homepage Leaderboard -->
                <ins class="adsbygoogle"
                style="display:inline-block;width:300px;height:250px"
                data-ad-client="ca-pub-1234567890123456"
                data-ad-slot="1234567890"></ins>
                <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
         </div>
        </div>
    </div>
    <div id="google_center_div" class="mb-2 mt-3">
        <div align="center" >
            <script asyncsrc="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
            <!-- Homepage Leaderboard -->
            <ins class="adsbygoogle"
            style="display:inline-block;width:728px;height:90px"
            data-ad-client="ca-pub-1234567890123456"
            data-ad-slot="1234567890"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>

{% endblock content %}

<style>
  a{
    color: black !important;
  }
  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #232323;
  }
</style>