
<div class="border-top pt-3 mt-4 text-center">
    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}" class="btn btn-success ">التالي</a>
    {% else %}
        <a href="" class="btn btn-success disabled">التالي</a>
    {% endif %}

    <span class="pr-4 pl-4">صفحة {{page.number}} من {{page.paginator.num_pages}}</span>
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}" class="btn btn-info">السابق</a>
    {% else %}
        <a href="" class="btn btn-info disabled">السابق</a>
    {% endif %}
</div>